<footer class="bg-gray-200 text-gray py-4 mt-8">
  <div class="container mx-auto text-center">
    <div class="mb-2">
      <small>
        &copy; <%= Time.current.year %> YourCompanyName. All rights reserved.
      </small>
    </div>

    <nav>
      <ul class="flex justify-center space-x-4">
        <li><%= link_to 'Link1', "#", class: 'hover:text-gray-200' %></li>
        <li><%= link_to 'Link2', "#", class: 'hover:text-gray-200' %></li>
        <!-- Add more navigation links as needed -->
      </ul>
    </nav>
  </div>
</footer>
