<nav>
  <ul class="flex items-center space-x-4">
    <li><%= link_to 'Home', root_path, class: 'hover:text-gray-200' %></li>
    <li><%= link_to 'Link2', "#", class: 'hover:text-gray-200' %></li>
    <li><%= link_to 'Link3', "#", class: 'hover:text-gray-200' %></li>
    <!-- Add more navigation links as needed -->
  </ul>
</nav>
